@import "reset.css";

body { background:#efefef; font:13px/1 Helvetica,"Times New Roman",Times,serif;color:#444;}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* --------------------------------------------
	TYPE STYLES
-------------------------------------------- */

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h5 {}
p {}
ul, ol { }
ul li { }
ol li{ }
strong, b, th { font-weight: bold; }
em, i {font-style: italic;}
blockquote { }  


/* Links */
a, a:visited {color: #000;}
a:hover, a:active { outline: none;}
a:active {opacity: 0.5;}
a:hover {background: #fff000;}


::-moz-selection { background:#ffff00; color:#000; }
::selection { background:#ffff00; color:#000; }


/* --------------------------------------------
	LAYOUT
-------------------------------------------- */
#container	{width: 960px; margin: 0 auto 0 auto; position: relative;}
#container > header {}
#container > footer {}



/* --------------------------------------------
	SECTION HEADER
-------------------------------------------- */

/* Secondary Header */

